#body{
    margin: 0;
}
#banner{
    width: 90%;
    float: left;
}

#menu{
    background-color:rgba(9, 255, 0, 0.87);
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

#menu ul li{
    float: left;
}

#menu ul li a{
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: medium;
    text-decoration: solid;
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu ul li a:hover{
    color: rgb(112, 95, 95);
}